@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Art Gallery</h1>
    <p class="lead">Philip Greene | ASP.NET MVC Website to display data from a localdb.</p>
    <p><a href="~/Artworks/Index" class="btn btn-primary btn-lg">View Artwork &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Artwork</h2>
        <p>
            View latest artwork. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Praesent vitae purus placerat, lacinia orci ut, sagittis turpis.
            In dapibus sapien vel magna suscipit, quis varius tortor pharetra.
            Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Proin in mattis mauris. Integer dictum commodo auctor. Etiam hendrerit nec felis quis tincidunt. 
            Duis fringilla placerat sem, eu tincidunt quam pharetra non. 
        </p>
        <p><a class="btn btn-default" href="~/Artworks/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>